@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-50: 239 246 255; /* #EFF6FF */
    --blue-100: 219 234 254; /* #DBEAFE */
    --blue-200: 191 219 254; /* #BFDBFE */
    --blue-300: 147 197 253; /* #93C5FD */
    --blue-400: 96 165 250; /* #60A5FA */
    --blue-500: 59 130 246; /* #3B82F6 */
    --blue-600: 37 99 235; /* #2563EB */
    --blue-700: 29 78 216; /* #1D4ED8 */
    --blue-800: 30 64 175; /* #1E40AF */
    --blue-900: 30 58 138; /* #1E3A8A */
    --blue-950: 23 37 84; /* #172554 */

    --lightblue-50: 226 248 254; /* #E2F8FE */ 
    --lightblue-100: 182 238 252; /* #B6EEFC */
    --lightblue-200: 134 228 249; /* #86E4F9 */
    --lightblue-300: 86 216 245; /* #56D8F5 */
    --lightblue-400: 53 207 240; /* #35CFF0 */
    --lightblue-500: 37 199 235; /* #25C7EB */
    --lightblue-600: 31 182 215; /* #1FB6D7 */
    --lightblue-700: 16 167 201; /* #10A7C9 */
    --lightblue-800: 0 149 197; /* #0095C5 */
    --lightblue-900: 5 122 159; /* #057A9F */
    --lightblue-950: 3 74 96; /* #034A60 */

    --purple-50: 239 231 252; /* #EFE7FC */
    --purple-100: 213 195 247; /* #D5C3F7 */
    --purple-200: 185 155 243; /* #B99BF3 */
    --purple-300: 155 113 240; /* #9B71F0 */
    --purple-400: 130 79 236; /* #824FEC */
    --purple-500: 103 43 231; /* #672BE7 */
    --purple-600: 91 38 225; /* #5B26E1 */
    --purple-700: 73 29 216; /* #491DD8 */
    --purple-800: 52 22 210; /* #3416D2 */
    --purple-900: 41 17 187; /* #2911BB */
    --purple-950: 34 14 162; /* #220EA2 */

    --navyvarient-50: 248 250 252; /* #F8FAFC */
    --navyvarient-100: 241 245 249; /* #F1F5F9 */
    --navyvarient-200: 226 232 240; /* #E2E8F0 */
    --navyvarient-300: 203 213 225; /* #CBD5E1 */
    --navyvarient-400: 148 163 184; /* #94A3B8 */
    --navyvarient-500: 100 116 139; /* #64748B */
    --navyvarient-600: 71 85 105; /* #475569 */
    --navyvarient-700: 51 65 85; /* #334155 */
    --navyvarient-800: 30 41 59; /* #1E293B */
    --navyvarient-900: 15 23 42; /* #0F172A */
    --navyvarient-950: 2 6 23; /* #020617 */

    --navy-50: 249 250 251; /* #F9FAFB */
    --navy-100: 243 244 246; /* #F3F4F6 */
    --navy-200: 229 231 235; /* #E5E7EB */
    --navy-300: 209 213 219; /* #D1D5DB */
    --navy-400: 156 163 175; /* #9CA3AF */
    --navy-500: 107 114 128; /* #6B7280 */
    --navy-600: 75 85 99; /* #4B5563 */
    --navy-700: 55 65 81; /* #374151 */
    --navy-800: 31 41 55; /* #1F2937 */
    --navy-900: 17 24 39; /* #111827 */
    --navy-950: 3 7 18; /* #030712 */

    --grayscale-50: 250 250 250; /* #FAFAFA */
    --grayscale-100: 245 245 245; /* #F5F5F5 */
    --grayscale-200: 229 229 229; /* #E5E5E5 */
    --grayscale-300: 212 212 212; /* #D4D4D4 */
    --grayscale-400: 163 163 163; /* #A3A3A3 */
    --grayscale-500: 115 115 115; /* #737373 */
    --grayscale-600: 82 82 82; /* #525252 */
    --grayscale-700: 64 64 64; /* #404040 */
    --grayscale-800: 38 38 38; /* #262626 */
    --grayscale-900: 23 23 23; /* #171717 */
    --grayscale-950: 10 10 10; /* #0A0A0A */

    --red-50: 254 242 242; /* #FEF2F2 */
    --red-100: 254 226 226; /* #FEE2E2 */
    --red-200: 254 202 202; /* #FECACA */
    --red-300: 252 165 165; /* #FCA5A5 */
    --red-400: 248 113 113; /* #F87171 */
    --red-500: 239 68 68; /* #EF4444 */
    --red-600: 220 38 38; /* #DC2626 */
    --red-700: 185 28 28; /* #B91C1C */
    --red-800: 153 27 27; /* #991B1B */
    --red-900: 127 29 29; /* #7F1D1D */
    --red-950: 69 10 10; /* #450A0A */

    --green-50: 240 253 244; /* #F0FDF4 */
    --green-100: 220 252 231; /* #DCFCE7 */
    --green-200: 187 247 208; /* #BBF7D0 */
    --green-300: 134 239 172; /* #86EFAC */
    --green-400: 74 222 128; /* #4ADE80 */
    --green-500: 34 197 94; /* #22C55E */
    --green-600: 22 163 74; /* #16A34A */
    --green-700: 21 128 61; /* #15803D */
    --green-800: 22 101 52; /* #166534 */
    --green-900: 20 83 45; /* #14532D */
    --green-950: 5 46 22; /* #052E16 */

    --yellow-50: 254 247 224; /* #FEF7E0 */
    --yellow-100: 253 234 178; /* #FDEAB2 */
    --yellow-200: 252 220 128; /* #FCDC80 */
    --yellow-300: 251 208 76; /* #FBD04C */
    --yellow-400: 250 196 37; /* #FAC425 */
    --yellow-500: 249 186 0; /* #F9BA00 */
    --yellow-600: 249 173 0; /* #F9AD00 */
    --yellow-700: 248 154 0; /* #F89A00 */
    --yellow-800: 248 137 0; /* #F88900 */
    --yellow-900: 248 105 0; /* #F86900 */
    --yellow-950: 207 88 0; /* #CF5800 */

    --blue-highest-dark: 29 78 216; /* blue-700 */
    --blue-highest: 29 78 216; /* blue-700 */
    --blue-high-dark: 37 99 235; /* blue-600 */
    --blue-high: 37 99 235; /* blue-600 */
    --blue-low-dark: 147 197 253; /* blue-300 */
    --blue-low: 53 207 240; /* blue-400 */
    --blue-lowest-dark: 191 219 254; /* blue-200 */
    --blue-lowest: 53 207 240; /* blue-400 */

    --lightblue-highest-dark: 31 182 215; /* lightblue-600 */
    --lightblue-highest: 31 182 215; /* lightblue-600 */
    --lightblue-high-dark: 37 199 235; /* lightblue-500 */
    --lightblue-high: 37 199 235; /* lightblue-500 */
    --lightblue-low-dark: 53 207 240; /* lightblue-400 */
    --lightblue-low: 53 207 240; /* lightblue-400 */
    --lightblue-lowest-dark: 134 228 249; /* lightblue-200 */
    --lightblue-lowest: 134 228 249; /* lightblue-200 */

    --purple-highest-dark: 91 38 225; /* purple-600 */
    --purple-highest: 91 38 225; /* purple-600 */
    --purple-high-dark: 103 43 231; /* purple-500 */
    --purple-high: 103 43 231; /* purple-500 */
    --purple-low-dark: 130 79 236; /* purple-400 */
    --purple-low: 130 79 236; /* purple-400 */
    --purple-lowest-dark: 185 155 243; /* purple-200 */ 
    --purple-lowest: 185 155 243;  /* purple-200 */

    --gs-depth-1-dark: 0 0 0; /* black */
    --gs-depth-1: 255 255 255; /* white */
    --gs-depth-2-dark: 10 10 10; /* grayscale-950 */
    --gs-depth-2: 250 250 250; /* grayscale-50 */
    --gs-depth-3-dark: 23 23 23; /* grayscale-900 */
    --gs-depth-3: 245 245 245; /* grayscale-100 */
    --gs-depth-4-dark: 38 38 38; /* grayscale-800 */
    --gs-depth-4: 229 229 229; /* grayscale-200 */
    --gs-depth-5-dark: 64 64 64; /* grayscale-700 */
    --gs-depth-5: 212 212 212; /* grayscale-300 */
    --gs-depth-6-dark: 82 82 82; /* grayscale-600 */
    --gs-depth-6: 163 163 163; /* grayscale-400 */
    --gs-depth-7-dark: 250 250 250; /* grayscale-50 */
    --gs-depth-7: 0 0 0; /* black */

    --navy-depth-1-dark: 3 7 18; /* navy-950 */
    --navy-depth-1: 249 250 251; /* navy-50 */
    --navy-depth-2-dark: 55 65 81; /* navy-700 */
    --navy-depth-2: 209 213 219; /* navy-300 */
    --navy-depth-3-dark: 75 85 99; /* navy-600 */
    --navy-depth-3: 156 163 175; /* navy-400 */
    --navy-depth-4-dark: 107 114 128; /* navy-500 */
    --navy-depth-4: 107 114 128; /* navy-500 */
    --navy-depth-5-dark: 156 163 175; /* navy-400 */
    --navy-depth-5: 75 85 99; /* navy-600 */
    --navy-depth-6-dark: 209 213 219; /* navy-300 */
    --navy-depth-6: 55 65 81; /* navy-700 */
    --navy-depth-7-dark: 243 244 246; /* navy-100 */
    --navy-depth-7: 17 24 39; /* navy-900 */
    --navy-depth-8-dark: 249 250 251; /* navy-50 */
    --navy-depth-8: 3 7 18; /* navy-950 */

    --nv-depth-1-dark: 15 23 42; /* navyvarient-900 */
    --nv-depth-1: 226 232 240; /* navyvarient-200 */ 
    --nv-depth-2-dark: 30 41 59; /* navyvarient-800 */
    --nv-depth-2: 203 213 225; /* navyvarient-300 */
    --nv-depth-3-dark: 148 163 184; /* navyvarient-400 */ 
    --nv-depth-3: 148 163 184; /* navyvarient-400 */ 

    --gs-primarydepth-dark: 38 38 38; /* grayscale-800 */ 
    --gs-primarydepth: 255 255 255; /* white */
    --gs-secondarydepth-dark: 23 23 23; /* grayscale-900 */ 
    --gs-secondarydepth: 255 255 255;
    --gs-tertiarydepth-dark: 10 10 10; /* grayscale-950 */ 
    --gs-tertiarydepth: 229 229 229; /* grayscale-200 */  
    --gs-subdepth-1-dark: 82 82 82; /* grayscale-600 */    
    --gs-subdepth-1: 245 245 245; /* grayscale-100 */   
    --gs-subdepth-2-dark: 64 64 64; /* grayscale-700 */    
    --gs-subdepth-2: 250 250 250; /* grayscale-50 */ 
    --gs-whitefixed-dark: 250 250 250; /* grayscale-50 */  
    --gs-whitefixed: 250 250 250; /* grayscale-50 */ 
    --gs-blackfixed-dark: 10 10 10; /* grayscale-950 */ 
    --gs-blackfixed: 10 10 10; /* grayscale-950 */ 

    --red-error-1-dark: 220 38 38; /* red-600 */
    --red-error-1: 220 38 38; /* red-600 */
    --red-error-2-dark: 185 28 28; /* red-700 */
    --red-error-2: 185 28 28;  /* red-700 */
 
    --green-success-1-dark: 22 163 74; /* green-600 */
    --green-success-1: 22 163 74; /* green-600 */

    --yellow-caution-1-dark: 248 154 0; /* yellow-700 */
    --yellow-caution-1: 248 154 0; /* yellow-700 */
    --yellow-caution-2-dark: 249 173 0; /* yellow-600 */ 
    --yellow-caution-2: 249 173 0; /* yellow-600 */ 
    --yellow-caution-3-dark: 249 186 0; /* yellow-500 */  
    --yellow-caution-3: 249 186 0; /* yellow-500 */ 
  }
}

:root {
  font-family: 'Pretendard', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #000;
}

html[data-theme='light'] {
  --background-color: #fff;
}

html[data-theme='dark'] {
  --background-color: #202020;
}

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}
